.navbar {
    margin: 0px;
}

.graphs {
    padding: 10px 10px;
    border-bottom: 1px solid #178acc;
}

.selectMenus {
    margin-bottom: 10px;
}

.reset {
    float: right;
}

/*popup tips*/
.tips {
    visibility: hidden;
    position: absolute;
}

.tips.active {
    visibility: visible; 
    position: relative;
}

/*vertical scrolling*/
#daily-volume {
    max-width: 750px;
    overflow-x: scroll;
}

@media screen and (max-width: 768px) {
    .chart {
        overflow-x: scroll;
    }   
}

